[submodule "spark-docker"]
	path = spark-docker
	url = git@github.com:softsky/spark-docker.git
[submodule "hadoop-docker"]
	path = hadoop-docker
	url = git@github.com:softsky/hadoop-docker.git
[submodule "hdfs-handlers"]
	path = hdfs-handlers
	url = git@github.com:softsky/hdfs-handlers.git
